@charset "UTF-8";

body {
    background-color: #FFFFDD;
    font-family: 'Arial', sans-serif;
}

h1, h4 {
    text-align: center;
}

h2, h3, h4 {
    margin-top: 0;
}

.product {
    border: solid 2px blue;
    margin: 1em 400px 1em 50px;
    padding: 1em;
    background-color: #DDFFDD;
    width: 800px;
    clear: right;
}

.basket {
    position: fixed;
    right: 0;
    top: 0;
    width: 300px;
    height: 400px;
    background-color: white;
    border: outset 3px green;
    padding: 1em;
    font-size: smaller;
}

.product-name, .product-price {
    font-weight: bold;
    font-size: larger;
}

.product-description {
    font-style: italic;
}

.error {
    color: red;
    border: 4px solid red;
    margin: 1em 0;
    padding: 1em;
    background-color: white;
    font-weight: bold;
}

.info {
    color: green;
    border: 4px solid green;
    margin: 1em 0;
    padding: 1em;
    background-color: white;
    font-weight: bold;
    min-width: 500px;
    max-width: 1000px;
}

#wyszukiwarka {
    background-color: #AAEEFF;
    width: 800px;
    border: 2px black solid;
    margin: 1em 400px 1em 50px;
    padding: 1em;
}

#product-form {
    margin: 1em auto;
    padding: 1em;
    border: 4px solid blue;
    background-color: #DDFFFF;
    min-width: 500px;
    max-width: 1000px;
}

#product-form textarea {
    min-width: 360px;
}

.form-error {
    color: red;
    font-size: smaller;
}

div.action {
    font-size: smaller;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    background-color: #DDDDDD;
    border: 2px #444466 outset;
    padding: 6px;
    margin: 4px auto 4px 4px;
    max-width: 200px;
}

.action:hover {
    background-color: #EEEEEE;
    border: 2px #4455CC outset;
}

.action:active {
    background-color: #EEEEEE;
    border: 2px #CC4455 inset;
}

.action a {
    color: inherit;
    text-decoration: none;
}

.action a:hover {
    color: #0000CC;
}


.photo {
    display: block;
    float: right;
    max-width: 300px;
    max-height: 200px;
    margin: 5px;
}



